<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        .course{
            padding:10px;
            margin:8px;
            border-radius: 3px;
        }
        form{
            display:block;
            margin:10px;
            padding:10px;
        }
        .highlight{
            background: red;
            color:white;
        }
    </style>

</head>
<body>
<header>
    <h1>Courses List</h1>
    <th:block th:if="${#request.getRemoteUser() != null}">
        <span style="float:right;margin-left:10px;border:1px dotted black"  th:text="${#request.getRemoteUser()}"></span>
        <a style="float:right;" href="/logout" > Logout</a>
    </th:block>

    <a th:if="${#request.getRemoteUser() == null}" style="float:right;" href="/login" > Login</a>

</header>
<main>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="addButton" href="/courses/add-form">Add new Course!</a><br>
    </th:block>
    <a href='/courses/grades' type='button'>See list of all grades</a><br/> <br/>
    <th:block th:if="${error != null}">
        <br>
        <th:div th:text="${error}" style="background:red; color:white;"></th:div>
    </th:block>
    <h2>Choose teacher:</h2>
    <form th:action="@{/courses}" method = "GET">
        <select name='teacherId' id="teacher" required >
            <option th:each="teacher : ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName() + ' ' + teacher.getSurname()}" th:selected="${selectedTeacher != null && teacher.getId().equals(selectedTeacher)}"></option>
        </select><br><br>
        <button type="submit">Find Courses!</button>
    </form>

    <h2>Choose course:</h2>
        <!--/*@thymesVar id="course" type="mk.ukim.finki.wp.model.Course"*/-->

    <form th:action="@{/courses}" method="POST">

        <th:div th:each="course : ${courses}" >

            <input required type="radio" name="courseId" th:value="${course.getCourseId()}">

            <th:span class="course" th:text="${course.getName()}" th:classappend="${course.getTeacher().getId().equals(selectedTeacher)}? 'highlight'"></th:span>
            <br>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="editButton" th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}"  >Edit</a>
                <br>
                <a class="deleteButton" th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}"  >Delete</a>
                <br/>
            </th:block>
            <br>
        </th:div>

        <button type="submit">Submit</button>
    </form>
    <br/>

</main>
</body>
</html>