<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>

</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <a href="/courses/add-form">Add new Course!</a><br>

    <th:block th:if="${error != null}">
        <br>
        <th:div th:text="${error}" style="background:red; color:white;"></th:div>
    </th:block>

    <h2>Choose course:</h2>
        <!--/*@thymesVar id="course" type="mk.ukim.finki.wp.model.Course"*/-->

    <form th:action="@{/courses}" method="POST">

        <th:div th:each="course : ${courses}" >

            <input type="radio" name="courseId" th:value="${course.getCourseId()}">

            <th:span th:text="${course.getName()}"></th:span>
            <br>
            <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}"  >Edit</a>
            <br>
            <a th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}"  >Delete</a>
            <br/><br>

        </th:div>

        <button type="submit">Submit</button>
    </form>
    <br/>

</main>
</body>
</html>