<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add new Student to Course</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
  <!--/*@thymesVar id="student" type="mk.ukim.finki.wp.model.Student"*/-->
  <h2>Select the student to enroll:</h2>
  <a href='/createStudent' type='button'>Create New Student</a> <br/> <br/>


  <form th:action="@{/StudentEnrollmentSummary}" method="POST">
    <th:block th:each="student : ${students}">

      <input type="radio" name="size" th:value="${student.getUsername()}">
      <th:span th:utext="${student.getName() + ' ' +student.getSurname()}"></th:span>
      <br/>


    </th:block>
    <button type="submit">Submit</button>
  </form>
  <br/>


</section>
<aside>
  <table>
    <tr>
      <th colspan="2">
        Your Enrollment Status
      </th>
    </tr>
    <tr>
      <td><b>Course Id</b></td>
      <td><th:block th:utext="${#session.getAttribute('courseId')}"></th:block></td>
    </tr>
  </table>
</aside>

</body>
</html>