<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <th:div th:if="${error != null}" th:uinfo="${error}"></th:div>
    <th:div th:utext="${course}"></th:div>
    <ul th:each="student : ${students}">
            <li th:utext="${student.getName() + ' ' + student.getSurname() + ' (' + student.getUsername() + ')' }">Петар Петров (petar.petrov)</li>
    </ul>

    <a href="/listCourses">Back</a>
</section>

</body>
</html>